* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body {
background: #020617;
color: #fff;
}

/* SECTION */
.team {
padding: 80px 10%;
text-align: center;
}

.team h1 {
font-size: 42px;
margin-bottom: 50px;
}

.team span {
color: #00d4ff;
}

/* GRID */
.cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 25px;
}

/* CARD */
.card {
background: #0f172a;
padding: 25px;
border-radius: 15px;
text-align: left;
transition: 0.3s;
border: 1px solid transparent;
}

/* HOVER */
.card:hover {
transform: translateY(-10px);
border: 1px solid #00d4ff;
}

/* IMAGE */
.card img {
width: 70px;
height: 70px;
border-radius: 50%;
border: 3px solid #00d4ff;
margin-bottom: 15px;
}

/* TEXT */
.card h3 {
font-size: 18px;
margin-bottom: 5px;
}

.card h4 {
font-size: 14px;
color: #00d4ff;
margin-bottom: 10px;
}

.card p {
font-size: 13px;
color: #94a3b8;
margin-bottom: 15px;
}

/* TAGS */
.tags span {
background: #1e293b;
padding: 5px 10px;
border-radius: 8px;
font-size: 12px;
margin-right: 5px;
}
